doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible",content="ie=edge")

		title
			block title
		link(rel='shortcut icon', type='image/x-icon', href='favicon.png')

		link(rel='stylesheet', href='dist/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')

	body
		block body

	

		script(src='/dist/vue.min.js')
			
		script(src='dist/vue-router.min.js')
		script(src='dist/vue-resource.min.js')
		script(src="dist/vue-validator.min.js")
		//-script(src='dist/director.js')
		script(src='js/store.js')
		script(src='js/app.js', type="text/javascript")
		//-script(src='js/routes.js')