extends html_template
block title
	| FeedReader
block body

	style.
		[v-cloak] {
			display: none;
		}
		.hidden{
			display: none;
		}
		.show.show{
			display: block;
			background: rgba(0, 0, 0, 0.64);
		}
		.channels_list .img{
			width: 24px;
			height: 24px;
			position: relative;
			overflow: hidden;
			display: inline-block;
			float: left;
			margin-right: 6px;
			/*padding-top: 4px;*/
		}
		.channels_list .img img{
			position: absolute;
			max-height: 100%;
			
		}
		.channels_list .title{
			display: inline-block;
			
		}
		.feed_list a{
			color: #0275d8;
		}
		.feed_list a.viewed{
			color: #aaa;
		}
		.feed_list img{
			max-width: 100%;
		}
		@media (min-width: 1200px){
			.container {
			    max-width: 1600px;
			}
		}
		


	section(id='app',v-cloak)
		.container
			header.header
				.navbar.navbar-dark.bg-inverse.m-b-1
					h1.navbar-brand RSS-reader
					.nav.navbar-nav
						a.nav-item.nav-link(v-link="{name: 'home'}") Главная
				
			.row
				.col-lg-4
					section.channels_list(v-show='true')
						.list-group.m-b-1
							a.list-group-item.list-group-item-success(v-link="{name: 'add'}")
								i.fa.fa-plus-square
								|  Добавить новый канал
							a.list-group-item(v-for="channel in feed_channels",v-link="{ name: 'feed', params: { id: channel.id } }" )
								.img(v-if="channel.pic")
									img(v-bind:src="channel.pic")
								.title(v-if="channel.title")
									h5.list-group-item-heading {{ channel.title }}
								p(v-if="channel.desc").list-group-item-text {{ channel.desc }}
								p(v-if="channel.error") {{channel.error}}
								//-pre
									| {{ channel.error | json }}
							button.list-group-item.list-group-item-info(@click="refresh_channels")
								i.fa.fa-refresh
								|  Обновить список каналов
						
						//-pre
							| {{ feed_channels | json }}
						
				.col-lg-8
					router-view
	
	.hidden
		script(type="x-template",id="add")
			include templates/add
		script(type="x-template",id="edit")
			include templates/edit
		script(type="x-template",id="view")
			include templates/view
		script(type="x-template",id="delete_modal")
			include templates/delete_modal
