.header
	h1 Добавить новый канал
section.addfeed
	validator(name="validation_url")
		.form
			.form-group
				label URL канала:
				input.form-control(name="channel_url",type="text",v-model="new_url_channel", initial="off",detect-change="off" , detect-blur="off",v-validate:channel_url="['required' , 'url']")
			.form-group
				button.btn.btn-primary(@click="add_channel") Добавить
			
			p(v-if="$validation_url.channel_url.invalid").alert.alert-danger Введите правильно адрес(URL) канала.
			
			//-pre
				{{ $validation_url.channel_url | json}}

			//-pre
				| {{ new_url_channel }}