.modal_delete(v-show="show")
	.modal.fade.in(v-bind:class="{'show': show }")
		.modal-dialog
			.modal-content
				.modal-header.alert-danger
					button.close(type="button",aria-label="Close",@click="show = false")
						span &times;
					h4.modal-title Удалить канал '{{ $parent.feed_channel.title }}' ?
				//-.modal-body
				.modal-footer
					button.btn.btn-danger(@click="call_delete_channel") Да
					button.btn.gray(@click="show = false") Нет