.header
	h1 Изменить ссылку канала '{{ feed_channel.title }}'
section.editfeed
	validator(name="validation_url")
		.form-group
			input.form-control(name="channel_url",type="text",v-model="feed_channel.url", initial="off",detect-change="off" , detect-blur="off",v-validate:channel_url="['required' , 'url']")
		.form-group
			button.btn.btn-primary(@click="edit_channel") Изменить
		//-pre
			| {{ newFeedChannel }}
		p(v-if="$validation_url.channel_url.invalid").alert.alert-danger Введите правильно адрес(URL) канала.
		pre
			| {{ $validation_url.channel_url | json}}