.header
	.row
		.col-sm-6
			h1 {{ feed_channel.title }}
			h1(v-if="feed_channel.error") {{feed_channel.error}}
			p.text-muted {{ feed_channel.url }}
		.col-sm-6.text-xs-right
			.btn-group.btn-group-sm
				button.btn.btn-info(@click="refresh_channel_news") Обновить
				button.btn.btn-success(v-link="{ name: 'edit', params: { id: $route.params.id }}") Изменить
				button.btn.btn-danger(@click="showDeleteModal = true") Удалить
			br
			.btn-group(v-bind:class="{ 'open' : show_page_size_modal == true }").p-t-1
				button(@click="show_page_size_modal = !show_page_size_modal").btn.btn-secondary.btn-sm.dropdown-toggle Показать {{ page_size }}
				.dropdown-menu
					button.dropdown-item(@click="page_size = 5,show_page_size_modal = false") По 5
					button.dropdown-item(@click="page_size = 10,show_page_size_modal = false") По 10
					button.dropdown-item(@click="page_size = 25,show_page_size_modal = false") По 25
			
.main
	.feed_list
		.row(v-for="link in filteredLinks_on_page").p-b-1
			//-.col-md-3
				img(v-bind:src="link.pic", alt="").img-rounded
			.col-md-12
				a(href="{{ link.url }}",target="_blank",v-bind:class="{ 'viewed': link.viewed }",@click="link.viewed = true").h4.list-group-item-heading {{ link.title }}
				p.list-group-item-text(v-html="link.desc")
	
		p(v-if="filteredLinks == false").alert.alert-info
			strong Загрузка ленты...
		p(v-if="error_mes").alert.alert-danger
			strong {{ error_mes }}
		//-pre
			{{ $route | json }}
			{{ $data.page | json }}
	
.footer
	.row
		.col-sm-8
			nav(v-if="virtual_pagination")
				ul.pagination.pagination-sm
					li.page-item(v-for="item in virtual_pagination",v-bind:class="{ 'active': item.page_id == page }")
						button(@click="page = item.page_id").page-link {{ item.title }}
			//-pre
				{{ virtual_pagination | json }}		
		.col-sm-4.text-xs-right
			.pagination
				
				button.btn.btn-sm.btn-secondary(v-show="visibility == 'active'",@click="visibility = 'all' ") Все
				button.btn.btn-sm.btn-secondary(v-show="visibility == 'all'",@click="visibility = 'active' ") Только непрочитанные

delete-component(:show.sync="showDeleteModal")